#header{
    height: 20%;
    background-color: black;
    color:white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 80px;
 }
 #body{
    width: 75%;
    display: inline-block;
    background-color: #DFF5BA;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
 }
 .btn-primary{
    margin-top:15px;
 }
 #origen_container,#destino_container{
     width: 40%;
    margin: 15px;
     display: block;
     display: inline-block;
 }
 td.clicked{
     background: pink;
 }

 #container{
     display: flex;
 }

.grid { margin:1em auto; border-collapse:collapse }

.grid td {
    cursor:pointer;
    border:1px solid #ccc;
    font-family:sans-serif; 
    font-size:13px;
    background-color: white;
}

.grid td.clicked {
    color:pink;
}

#origen_thead,#destino_thead{
    color:white;
    background-color: #37C2FA;
}
#form{
    margin:10px;
}

#button_container{
    margin: 15px;
}

 #container_left,#container_right{
	width: 40%;
	margin: 15px;
	display: block;
	display: inline-block;
}

#mapid { 
    height: 500px; 
    width: 65%;
    margin: 15px;  
    display: block;
    display: inline-block;
}

#info{
    margin-top:15px;
    display: block;
	display: inline-block;
    height: 500px; 
    width: 20%;
    position: absolute;
}

.pesoV{
    width: 50%; 
}

.divPesoV{    
    margin-top: 10px;
    display: block;
    display: inline-block;
}